  <!-- ======= Intro Section ======= -->
  <section id="intro">

    <div class="intro-content">
      <h2>Sharing <span>your ideas</span><br>with others!</h2>
      <div>
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="#contact" class="btn-projects scrollto">Contact Us</a>
      </div>
    </div>

    <div id="intro-carousel" class="owl-carousel">
      <div class="item" style="background: url(../../../assets/images/intro-carousel/1.jpg) !important;"></div>
      <div class="item" style="background: url(../../../assets/images/intro-carousel/2.jpg) !important;"></div>
      <div class="item" style="background: url('/src/assets/images/intro-carousel/3.jpg') !important;"></div>
      <div class="item" style="background: url('../../../assets/images/intro-carousel/4.jpg') !important;"></div>
      <div class="item" style="background: url('/assets/images/intro-carousel/5.jpg') !important;"></div>
    </div>

  </section><!-- End Intro Section -->

  <!-- ======= Why Us Section ======= -->
  <section id="why-us" class="why-us mt-4">
    <div class="container">

      <div class="row">

        <div class="col-lg-4">
          <div class="box">
            <span>01</span>
            <h4>Meet New Friends</h4>
            <p>I cannot say who you are; I may never know you completely. But I trust you are a person in your own
              right, possessed of a beauty and value that are the Earth's richest treasures. So I make this promise to
              you;</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>02</span>
            <h4>Connect with people</h4>
            <p>Be genuine and Provide massive help. <br> Pay ridiculous attention, Connect with people close to you.
              <br> Persistence wins most battles. <br> Make real conversation
            </p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box">
            <span>03</span>
            <h4> Learn with others</h4>
            <p>
              Talent and luck might happen to you by chance, but learning is a skill
              and practice that anyone can accomplish with diligence. <br>
              Anyone who stops learning is old, wehter at twenty or eighty
            </p>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Why Us Section -->


  <!-- ======= About Section ======= -->
  <section id="about" class="wow fadeInUp">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 about-img">
          <img src="assets/images/about-img.jpg" alt="">
        </div>

        <div class="col-lg-6 content">
          <h2>About i-Links</h2>
          <h3>Welcome to i-Links, the world's largest professional network with 706+ million users in more than 200
            countries and territories worldwide.</h3>

          <ul>
            <li><i class="ui paper plane outline icon"></i> Connect with your loved ones. We connect you with the best
              people that suit you.
            </li>
            <li><i class="ui meetup icon"></i> Meet new friends around the World
            </li>
            <li><i class="ui android icon"></i> Our app is Available anytime anytime as need arises, fully
              responsive and adaptable for mobile view
              pariatur.</li>
          </ul>

        </div>
      </div>

    </div>
  </section><!-- End About Section -->

  <!-- ======= Features Section ======= -->
  <section id="features" class="features">
    <div class="container">

      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="icon-box">
            <i class="app store icon" style="color: #ffbb2c;"></i>
            <h3><a href="">Lorem Ipsum</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="chart bar icon" style="color: #5578ff;"></i>
            <h3><a href="">Dolor Sitema</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="calendar alternate outline icon" style="color: #e80368;"></i>
            <h3><a href="">Sed perspiciatis</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4 mt-lg-0">
          <div class="icon-box">
            <i class="paint brush icon" style="color: #e361ff;"></i>
            <h3><a href="">Magni Dolores</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="database icon" style="color: #47aeff;"></i>
            <h3><a href="">Nemo Enim</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="graduation cap icon" style="color: #ffa76e;"></i>
            <h3><a href="">Eiusmod Tempor</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="graduation cap icon" style="color: #11dbcf;"></i>
            <h3><a href="">Midela Teren</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="graduation cap icon" style="color: #4233ff;"></i>
            <h3><a href="">Pira Neve</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="graduation cap icon" style="color: #b2904f;"></i>
            <h3><a href="">Dirada Pack</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="graduation cap icon" style="color: #b20969;"></i>
            <h3><a href="">Moton Ideal</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="graduation cap icon" style="color: #ff5828;"></i>
            <h3><a href="">Verdo Park</a></h3>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 mt-4">
          <div class="icon-box">
            <i class="graduation cap icon" style="color: #29cc61;"></i>
            <h3><a href="">Flavor Nivelanda</a></h3>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Features Section -->

  <!-- ======= Team Section ======= -->
  <section id="team" class="team section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Team</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="assets/images/profile/pic2.png" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href="https://web.facebook.com/benard.adakoleaugustine"><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href="https://www.linkedin.com/in/benard-augustine-adakole-527bb518b/"><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Benard Augustine Adakole</h4>
              <span>Software Engineer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="assets/images/profile/vic.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Daodu Victor Olaoluwa</h4>
              <span>Software Engineer</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="assets/images/profile/eche.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Omaga Christopher</h4>
              <span>CTO</span>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
          <div class="member">
            <div class="member-img">
              <img src="assets/images/profile/alawa.jpg" class="img-fluid" alt="">
              <div class="social">
                <a href=""><i class="icofont-twitter"></i></a>
                <a href=""><i class="icofont-facebook"></i></a>
                <a href=""><i class="icofont-instagram"></i></a>
                <a href=""><i class="icofont-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info">
              <h4>Alawa Joshua</h4>
              <span>Accountant</span>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section><!-- End Team Section -->


  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Contact</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
          consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit
          in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">

        <div class="col-lg-6">

          <div class="row">
            <div class="col-md-12">
              <div class="info-box">
                <i class="ui home icon"></i>
                <h3>Our Address</h3>
                <p>Jos, Nigeria</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="envelope icon"></i>
                <h3>Email Us</h3>
                <p>info@i-link.com<br>admin@i-link.com</p>
              </div>
            </div>
            <div class="col-md-6">
              <div class="info-box mt-4">
                <i class="phone icon"></i>
                <h3>Call Us</h3>
                <p>+234 8100 3842 14<br>+234 7026 7953 35</p>
              </div>
            </div>
          </div>

        </div>

        <div class="col-lg-6 mt-4 mt-lg-0">
          <form method="post" role="form" class="php-email-form">
            <div class="form-row">
              <div class="col-md-6 form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                  data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validate"></div>
              </div>
              <div class="col-md-6 form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                  data-rule="email" data-msg="Please enter a valid email" />
                <div class="validate"></div>
              </div>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
              <div class="validate"></div>
            </div>
            <div class="form-group">
              <textarea class="form-control" name="message" rows="5" data-rule="required"
                data-msg="Please write something for us" placeholder="Message"></textarea>
              <div class="validate"></div>
            </div>
 
            <div class="text-center"><button type="submit">Send Message</button></div>
          </form>
        </div>

      </div>

    </div>
  </section><!-- End Contact Section -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>i-Links.</h3>
            <p>
              Federal Lowcoast Jos <br>
             Plateau, Nigeria<br>
             
              <strong>Phone:</strong> +234 8100 3842 14<br>
              <strong>Email:</strong> info@i-links.com<br>
            </p>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="long arrow alternate right icon"></i> <a href="#">Home</a></li>
              <li><i class="long arrow alternate right icon"></i> <a href="#">About us</a></li>
              <li><i class="long arrow alternate right icon"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="long arrow alternate right icon"></i> <a href="#">Web Design</a></li>
              <li><i class="long arrow alternate right icon"></i> <a href="#">Web Development</a></li>
              <li><i class="long arrow alternate right icon"></i> <a href="#">Product Management</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Join Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          </div>

        </div>
      </div>
    </div>
  </footer><!-- End Footer -->
