<nav class="navbar fixed-bottom navbar-light bg-light">
  <div>
    <span><strong>
      i-Links &copy; 2020 
    </strong> </span>
    <span><strong>
      Developed by <a href="https://web.facebook.com/benard.adakoleaugustine/">Austin</a>
    </strong></span>
  </div>
  <div class="social-part">
    <i class="ui icon facebook" aria-hidden="true"></i>
    <i class="ui icon twitter" aria-hidden="true"></i>
    <i class="ui icon instagram" aria-hidden="true"></i>
    <i class="ui icon github" aria-hidden="true"></i>
  </div>


</nav>
