<nav class="navbar fixed-bottom navbar-light bg-light">
  <div>
    <span> <b class="bottom-logo">i-Links</b> <strong>
         &copy; 2020
      </strong> </span>
    <span><strong>
        Developed by <a href="https://web.facebook.com/benard.adakoleaugustine/">Austin</a>
      </strong></span>
  </div>
  <div class="social-part">
    <a href="https://web.facebook.com/benard.adakoleaugustine">
      <i class="ui icon facebook" aria-hidden="true"></i>
    </a>
    <a href="https://twitter.com/KoleAustins">
      <i class="ui icon twitter" aria-hidden="true"></i>
    </a>
    <a href="https://www.instagram.com/koleaustins/">
      <i class="ui icon instagram" aria-hidden="true"></i>
    </a>
    <a href="https://github.com/Austi-no"> <i class="ui icon github" aria-hidden="true"></i>
    </a>

  </div>


</nav>
