<div class="body mt-4">
  <div class="center">
    <h1>Login</h1>
    <form [formGroup]="loginForm" #customLoadingTemplate>
      <div class="text-field"
        [ngClass]="{'has-error': loginForm.controls.username.errors && loginForm.controls.username.dirty, 'has-success': loginForm.controls.username.valid && loginForm.controls.username.dirty }">
        <input type="text" formControlName="username" name="username" required>
        <span></span>
        <label>Username</label>
      </div>
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="loginForm.controls.username.errors?.required && loginForm.controls.username.dirty" class="has-error">
          This field
          is
          required.</li>
      </ul>
      <div class="text-field"
        [ngClass]="{'has-error': loginForm.controls.password.errors && loginForm.controls.password.dirty, 'has-success': loginForm.controls.password.valid && loginForm.controls.password.dirty }">
        <input type="password" formControlName="password" name="password" required>
        <span></span>
        <label>Password</label>
      </div>
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.dirty" class="has-error">
          This field
          is
          required.</li>
      </ul>
      <div class="pass">Forgot Password</div>
      <button class="loginbtn" [disabled]="!loginForm.valid || processing " (click)="login()">
        Login
      </button>
      <div class="signup-link">
        Not a member? <a href="#">Signup</a>
      </div>
    </form>
  </div>

  <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px',    primaryColour: '#0c2e8a'  }"
    [template]="customLoadingTemplate">
  </ngx-loading>
</div>
