<div class="ui inverted dimmer" [class.active]='loading'>
  <div class="ui small text loader">Loading</div>
</div>

<div class="container mt-4">
  <div class="row ">

    <div class="col-lg-3 order-2 order-lg-1">
      <aside class="widget-area profile-sidebar">
        <!-- widget single item start -->
        <div class="card card-profile widget-item p-0">
          <div class="profile-banner">
            <figure class="profile-banner-small">
              <a href="profile.html">
                <img src="assets/assets/images/banner/banner-small.jpg" alt="">
              </a>
              <a href="profile.html" class="profile-thumb-2">
                <img src="assets/assets/images/profile/profile-midle-1.jpg" alt="">
              </a>
            </figure>
            <div class="profile-desc text-center">
              <h6 class="author"><a href="profile.html">{{lastName}} {{firstName}}</a></h6>
              <p>{{description}}</p>
            </div>
          </div>
        </div>
        <!-- widget single item start -->
        <div class="card widget-item">
          <h4 class="widget-title">{{lastName}} {{firstName}}</h4>
          <div class="widget-body">
            <div class="about-author">
              <p>I Don’t know how? But i believe that it is possible one day if i stay with my dream all time</p>
              <ul class="author-into-list">
                <li><a href="#"><i class=" briefcase icon"></i>{{education}}</a></li>
                <li><a href="#"><i class=" home icon"></i>{{address}}</a></li>
                <li><a href="#"><i class=" map marker alternate icon"></i>{{city}}, {{country}}</a></li>
                <li><a href="#"><i class=" heart outline icon"></i>{{interest}}</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- widget single item end -->

        <!-- widget single item start -->
        <div class="card widget-item">
          <h4 class="widget-title">Sweets Memories</h4>
          <div class="widget-body">
            <div class="sweet-galley img-gallery">
              <div class="row row-5">
                <div class="col-4">
                  <div class="gallery-tem">
                    <figure class="post-thumb">
                      <a class="gallery-selector" href="assets/assets/images/gallery/gallery-1.jpg">
                        <img src="assets/assets/images/gallery/gallery-1.jpg" alt="sweet memory">
                      </a>
                    </figure>
                  </div>
                </div>
                <div class="col-4">
                  <div class="gallery-tem">
                    <figure class="post-thumb">
                      <a class="gallery-selector" href="assets/assets/images/gallery/gallery-2.jpg">
                        <img src="assets/assets/images/gallery/gallery-2.jpg" alt="sweet memory">
                      </a>
                    </figure>
                  </div>
                </div>
                <div class="col-4">
                  <div class="gallery-tem">
                    <figure class="post-thumb">
                      <a class="gallery-selector" href="assets/assets/images/gallery/gallery-3.jpg">
                        <img src="assets/assets/images/gallery/gallery-3.jpg" alt="sweet memory">
                      </a>
                    </figure>
                  </div>
                </div>
                <div class="col-4">
                  <div class="gallery-tem">
                    <figure class="post-thumb">
                      <a class="gallery-selector" href="assets/assets/images/gallery/gallery-4.jpg">
                        <img src="assets/assets/images/gallery/gallery-4.jpg" alt="sweet memory">
                      </a>
                    </figure>
                  </div>
                </div>
                <div class="col-4">
                  <div class="gallery-tem">
                    <figure class="post-thumb">
                      <a class="gallery-selector" href="assets/assets/images/gallery/gallery-5.jpg">
                        <img src="assets/assets/images/gallery/gallery-5.jpg" alt="sweet memory">
                      </a>
                    </figure>
                  </div>
                </div>
                <div class="col-4">
                  <div class="gallery-tem">
                    <figure class="post-thumb">
                      <a class="gallery-selector" href="assets/assets/images/gallery/gallery-6.jpg">
                        <img src="assets/assets/images/gallery/gallery-6.jpg" alt="sweet memory">
                      </a>
                    </figure>
                  </div>
                </div>
                <div class="col-4">
                  <div class="gallery-tem">
                    <figure class="post-thumb">
                      <a class="gallery-selector" href="assets/assets/images/gallery/gallery-7.jpg">
                        <img src="assets/assets/images/gallery/gallery-7.jpg" alt="sweet memory">
                      </a>
                    </figure>
                  </div>
                </div>
                <div class="col-4">
                  <div class="gallery-tem">
                    <figure class="post-thumb">
                      <a class="gallery-selector" href="assets/assets/images/gallery/gallery-8.jpg">
                        <img src="assets/assets/images/gallery/gallery-8.jpg" alt="sweet memory">
                      </a>
                    </figure>
                  </div>
                </div>
                <div class="col-4">
                  <div class="gallery-tem">
                    <figure class="post-thumb">
                      <a class="gallery-selector" href="assets/assets/images/gallery/gallery-9.jpg">
                        <img src="assets/assets/images/gallery/gallery-9.jpg" alt="sweet memory">
                      </a>
                    </figure>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- widget single item end -->

        <!-- widget single item start -->
        <div class="card widget-item">
          <h4 class="widget-title">Forum you may like</h4>
          <div class="widget-body">
            <ul class="like-page-list-wrapper">
              <li class="unorder-list">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-small">
                      <img src="assets/assets/images/profile/profile-small-33.jpg" alt="profile picture">
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="unorder-list-info">
                  <h3 class="list-title"><a href="#">Travel The World</a></h3>
                  <p class="list-subtitle"><a href="#">adventure</a></p>
                </div>
                <button class="like-button active">
                  <img class="heart" src="assets/assets/images/icons/heart.png" alt="">
                  <img class="heart-color" src="assets/assets/images/icons/heart-color.png" alt="">
                </button>
              </li>
              <li class="unorder-list">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-small">
                      <img src="assets/assets/images/profile/profile-small-30.jpg" alt="profile picture">
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="unorder-list-info">
                  <h3 class="list-title"><a href="#">Foodcort Nirala</a></h3>
                  <p class="list-subtitle"><a href="#">food</a></p>
                </div>
                <button class="like-button">
                  <img class="heart" src="assets/assets/images/icons/heart.png" alt="">
                  <img class="heart-color" src="assets/assets/images/icons/heart-color.png" alt="">
                </button>
              </li>
              <li class="unorder-list">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-small">
                      <img src="assets/assets/images/profile/profile-small-5.jpg" alt="profile picture">
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="unorder-list-info">
                  <h3 class="list-title"><a href="#">Rolin Theitar</a></h3>
                  <p class="list-subtitle"><a href="#">drama</a></p>
                </div>
                <button class="like-button">
                  <img class="heart" src="assets/assets/images/icons/heart.png" alt="">
                  <img class="heart-color" src="assets/assets/images/icons/heart-color.png" alt="">
                </button>
              </li>
              <li class="unorder-list">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-small">
                      <img src="assets/assets/images/profile/profile-small-29.jpg" alt="profile picture">
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="unorder-list-info">
                  <h3 class="list-title"><a href="#">Active Mind</a></h3>
                  <p class="list-subtitle"><a href="#">fitness</a></p>
                </div>
                <button class="like-button">
                  <img class="heart" src="assets/assets/images/icons/heart.png" alt="">
                  <img class="heart-color" src="assets/assets/images/icons/heart-color.png" alt="">
                </button>
              </li>
            </ul>
          </div>
        </div>
        <!-- widget single item end -->
      </aside>
    </div>

    <div class="col-lg-6 order-1 order-lg-2">

      <!-- share box start -->
      <div class="card card-small">
        <div class="share-box-inner">
          <!-- profile picture end -->
          <div class="profile-thumb">
            <a href="#">
              <figure class="profile-thumb-middle">
                <img src="assets/assets/images/profile/profile-small-37.jpg" alt="profile picture">
              </figure>
            </a>
          </div>
          <!-- profile picture end -->

          <!-- share content box start -->
          <div class="share-content-box w-100">
            <form class="share-text-box">
              <textarea name="share" class="share-text-field" aria-disabled="true"
                placeholder="What on your mind? {{username}}" data-toggle="modal" data-target="#textbox"
                id="email"></textarea>
              <button class="btn-share" type="submit">Upload</button>
            </form>
          </div>
          <!-- share content box end -->
          <!-- Modal start -->
          <!-- create feeds Modal start -->
          <div class="modal fade" id="textbox" aria-labelledby="textbox" data-target="#modal">
            <div class="modal-dialog">
              <form class="modal-content" [formGroup]="form">
                <div class="modal-header">
                  <h5 class="modal-title">Share Your Mood</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                  <!-- Custom Success/Error Message -->
                  <div class="row show-hide-message" *ngIf="message">
                    <div [ngClass]="messageClass">
                      {{ message }}
                    </div>
                  </div>
                </div>
                <div class="modal-body custom-scroll"
                  [ngClass]="{'has-success': form.controls.body.valid, 'has-error': form.controls.body.dirty && form.controls.body.errors}">

                  <textarea formControlName="body" name="share" class="share-field-big custom-scroll"
                    placeholder="Say Something"></textarea>

                  <!-- Validation -->
                  <ul class="help-block">
                    <li *ngIf="form.controls.body.dirty && form.controls.body.errors?.required" class="has-error">This
                      field is required.
                    </li>
                    <li
                      *ngIf="(form.controls.body.dirty && form.controls.body.errors?.minlength) || (form.controls.body.dirty && form.controls.body.errors?.maxlength)"
                      class="has-error">
                      Max length: 500, Min length: 5</li>
                  </ul>
                </div>
                <div class="modal-footer">
                  <button type="button" class="post-share-btn" data-dismiss="modal">cancel</button>
                  <button [disabled]="!form.valid || processing" type="button" class="post-share-btn"
                    (click)="createFeed()" data-dismiss="modal">post</button>
                </div>

              </form>
            </div>
          </div>
          <!-- Modal end -->
        </div>
      </div>
      <!-- share box end -->

      <!-- create Edit Modal start -->
      <div class="modal fade" id="editbox" aria-labelledby="editbox" data-target="#modal">
        <div class="modal-dialog">
          <form class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Edit Your Mood</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <!-- Custom Success/Error Message -->
              <div class="row show-hide-message" *ngIf="message">
                <div [ngClass]="messageClass">
                  {{ message }}
                </div>
              </div>
            </div>
            <div class="modal-body custom-scroll">

              <textarea name="feedbody" [(ngModel)]="feedbody" id="editFeed" rows="3" value='{{inputValue}}'
                class="share-field-big custom-scroll"></textarea>


            </div>
            <div class="modal-footer">
              <button type="button" class="post-share-btn" data-dismiss="modal">cancel</button>
              <button type="button" class="post-share-btn" (click)="editFeed()" data-dismiss="modal">Edit</button>
            </div>

          </form>
        </div>
      </div>
      <!-- Modal end -->


      <!-- Delete feed -->
      <!-- Modal Confirmation Window -->

      <!-- end of delete modal -->

      <!-- post status start -->
      <div class="card" *ngFor="let list of feedList">

        <!-- post title start -->
        <div class="post-title d-flex align-items-center">
          <!-- profile picture end -->
          <div class="profile-thumb">
            <a href="#">
              <figure class="profile-thumb-middle">
                <img src="assets/assets/images/profile/profile-small-5.jpg" alt="profile picture">
              </figure>
            </a>
          </div>
          <!-- profile picture end -->

          <div class="posted-author">
            <h6 class="author"><a href="profile.html">{{list.createdBy}}</a></h6>
            <span class="post-time">Posted {{list?.createdAt | timeago}}</span>
          </div>

          <div class="post-settings-bar">
            <span></span>
            <span></span>
            <span></span>
            <div class="post-settings arrow-shape">
              <ul>
                <li><button>copy link to Post</button></li>
                <li *ngIf="username === list.createdBy"><button data-toggle="modal" data-target="#editbox"
                    (click)="getFeedById(list._id)">edit
                    post</button></li>
                <li *ngIf="username === list.createdBy"><button (click)="deleteFeedById(list._id)">Delete
                    Post</button></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- post title start -->
        <div class="post-content">
          <p class="post-desc">
            {{list?.body}}
          </p>



          <div class="post-meta2">
            <div class="bg-white2 p-2">
              <div class="d-flex flex-row fs-12">
                <div [dropup]="isDropup2" class="like p-2 cursor" dropdown (onShown)="onShown()" (onHidden)="onHidden()"
                  (isOpenChange)="isOpenChange()" placement="bottom right"><span class="ml-1" dropdownToggle
                    (click)="false" aria-controls="basic-link-dropdown2"><img src="assets/images/like.png" height="20px"
                      width="20px" alt=""> {{list?.likes}}
                    Likes</span>
                  <ul id="basic-link-dropdown2" *dropdownMenu class="dropdown-menu" role="menu"
                    aria-labelledby="basic-link">
                    <li>
                      <a class="dropdown-item" [routerLink]="['/user/', liker]"
                        *ngFor="let liker of list.likedBy">{{liker}}</a>
                    </li>
                  </ul>

                </div>
                <div [dropup]="isDropup" class="like p-2 cursor" dropdown (onShown)="onShown()" (onHidden)="onHidden()"
                  (isOpenChange)="isOpenChange()" dropdownToggle (click)="false" aria-controls="dropdown-dropup"><i
                    class="icofont-thumbs-down"></i><span class="ml-1">{{list?.dislikes}}
                    Dislike</span>
                  <ul id="dropdown-dropup" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="basic-link">
                    <li>
                      <a class="dropdown-item" [routerLink]="['/user/', disliker]"
                        *ngFor="let disliker of list.dislikedBy">{{disliker}}</a>
                    </li>
                  </ul>
                </div>

                <div (click)="draftComment(list._id)" class="like p-2 cursor" (click)="isCollapsed = !isCollapsed"
                  [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic"><i
                    class="icofont-speech-comments"></i><span class="ml-1">{{list.comments.length}} Comment</span>
                </div>
              </div>
            </div>
          </div>


          <div class="post-meta">
            <div class="bg-white p-2">
              <div class="d-flex flex-row fs-12">
                <div class="like p-2 cursor" (click)="likeFeed(list?._id)"><i class="icofont-like"></i><span
                    class="ml-1">Like</span></div>
                <div class="like p-2 cursor" (click)="dislikeFeed(list?._id)"><i class="icofont-thumbs-down"></i><span
                    class="ml-1">Dislikes</span></div>
                <div class="like p-2 cursor" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
                  aria-controls="collapseBasic"><i class="icofont-speech-comments"></i><span class="ml-1"
                    (click)="draftComment(list._id)">Comment</span>
                </div>
                <!-- <div class="like p-2 cursor action-collapse"><i class="icofont-share"></i><span
                    class="ml-1">Share</span></div> -->
              </div>
            </div>


          </div>
          <div *ngIf="newComment.indexOf(list._id) > -1" id="collapseBasic" [collapse]="isCollapsed"
            [isAnimated]="true">
            <form class="share-text-box mt-4" [formGroup]="commentForm">

              <textarea name="share" class="share-text-field" aria-disabled="true" formControlName="comment"
                placeholder="Say Something" id="email"></textarea>
              <!-- Validation -->
              <div
                [ngClass]="{'has-success': !commentForm.controls.comment.errors && commentForm.controls.comment.dirty, 'has-error': commentForm.controls.comment.dirty && commentForm.controls.comment.errors}">
                <ul class="help-block">
                  <li *ngIf="commentForm.controls.comment.errors?.required && commentForm.controls.comment.dirty">This
                    field is required.</li>
                  <li
                    *ngIf="(commentForm.controls.comment.errors?.maxlength && commentForm.controls.comment.dirty) ||(commentForm.controls.comment.errors?.minlength && commentForm.controls.comment.dirty)">
                    Comment must be at least 1 character but no more than 200.</li>
                </ul>
              </div>
              <button [disabled]="!commentForm.valid || processing" class="btn-share" type="submit"
                (click)="postComment(list._id)">comment</button>
            </form>

            <ul>
              <li class="mt-2" *ngFor="let comment of list.comments">
                <div class="we-comment">
                  <div class="coment-head">
                    <h5><a href="time-line.html" title="">{{ comment.commentator }} </a></h5>
                    <span>: {{ comment.comment }}</span>
                  </div>
                </div>
              </li>
            </ul>


          </div>

        </div>
        <!-- post status end -->
      </div>
    </div>
    <div class="col-lg-3 order-3">
      <aside class="widget-area">
        <!-- widget single item start -->
        <div class="card widget-item">
          <h4 class="widget-title">Recent Notifications</h4>
          <div class="widget-body">
            <ul class="like-page-list-wrapper">
              <li class="unorder-list">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-small">
                      <img src="assets/assets/images/profile/profile-small-9.jpg" alt="profile picture">
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="unorder-list-info">
                  <h3 class="list-title"><a href="#">Any one can join with us if you want</a></h3>
                  <p class="list-subtitle">5 min ago</p>
                </div>
              </li>
              <li class="unorder-list">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-small">
                      <img src="assets/assets/images/profile/profile-small-35.jpg" alt="profile picture">
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="unorder-list-info">
                  <h3 class="list-title"><a href="#">Any one can join with us if you want</a></h3>
                  <p class="list-subtitle">10 min ago</p>
                </div>
              </li>
              <li class="unorder-list">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-small">
                      <img src="assets/assets/images/profile/profile-small-15.jpg" alt="profile picture">
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="unorder-list-info">
                  <h3 class="list-title"><a href="#">Any one can join with us if you want</a></h3>
                  <p class="list-subtitle">18 min ago</p>
                </div>
              </li>
              <li class="unorder-list">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-small">
                      <img src="assets/assets/images/profile/profile-small-6.jpg" alt="profile picture">
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="unorder-list-info">
                  <h3 class="list-title"><a href="#">Any one can join with us if you want</a></h3>
                  <p class="list-subtitle">25 min ago</p>
                </div>
              </li>
              <li class="unorder-list">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-small">
                      <img src="assets/assets/images/profile/profile-small-34.jpg" alt="profile picture">
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="unorder-list-info">
                  <h3 class="list-title"><a href="#">Any one can join with us if you want</a></h3>
                  <p class="list-subtitle">39 min ago</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- widget single item end -->

        <!-- widget single item start -->
        <div class="card widget-item">
          <h4 class="widget-title">Advertizement</h4>
          <div class="widget-body">
            <div class="add-thumb">
              <a href="#">
                <img src="assets/assets/images/banner/advertise.jpg" alt="advertisement">
              </a>
            </div>
          </div>
        </div>
        <!-- widget single item end -->

        <!-- widget single item start -->
        <div class="card widget-item">
          <h4 class="widget-title">Friends Zone</h4>
          <div class="widget-body">
            <ul class="like-page-list-wrapper">
              <li class="unorder-list">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-small">
                      <img src="assets/assets/images/profile/profile-small-10.jpg" alt="profile picture">
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="unorder-list-info">
                  <h3 class="list-title"><a href="#">arfim bolt</a></h3>
                  <p class="list-subtitle"><a href="#">10 mutual</a></p>
                </div>
                <button class="like-button">
                  <img class="heart" src="assets/assets/images/icons/heart.png" alt="">
                  <img class="heart-color" src="assets/assets/images/icons/heart-color.png" alt="">
                </button>
              </li>
              <li class="unorder-list">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-small">
                      <img src="assets/assets/images/profile/profile-small-2.jpg" alt="profile picture">
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="unorder-list-info">
                  <h3 class="list-title"><a href="#">marry wither</a></h3>
                  <p class="list-subtitle"><a href="#">02 mutual</a></p>
                </div>
                <button class="like-button active">
                  <img class="heart" src="assets/assets/images/icons/heart.png" alt="">
                  <img class="heart-color" src="assets/assets/images/icons/heart-color.png" alt="">
                </button>
              </li>
              <li class="unorder-list">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-small">
                      <img src="assets/assets/images/profile/profile-small-5.jpg" alt="profile picture">
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="unorder-list-info">
                  <h3 class="list-title"><a href="#">Rolin Theitar</a></h3>
                  <p class="list-subtitle"><a href="#">drama</a></p>
                </div>
                <button class="like-button">
                  <img class="heart" src="assets/assets/images/icons/heart.png" alt="">
                  <img class="heart-color" src="assets/assets/images/icons/heart-color.png" alt="">
                </button>
              </li>
              <li class="unorder-list">
                <!-- profile picture end -->
                <div class="profile-thumb">
                  <a href="#">
                    <figure class="profile-thumb-small">
                      <img src="assets/assets/images/profile/profile-small-14.jpg" alt="profile picture">
                    </figure>
                  </a>
                </div>
                <!-- profile picture end -->

                <div class="unorder-list-info">
                  <h3 class="list-title"><a href="#">Active Mind</a></h3>
                  <p class="list-subtitle"><a href="#">fitness</a></p>
                </div>
                <button class="like-button">
                  <img class="heart" src="assets/assets/images/icons/heart.png" alt="">
                  <img class="heart-color" src="assets/assets/images/icons/heart-color.png" alt="">
                </button>
              </li>
            </ul>
          </div>
        </div>
        <!-- widget single item end -->
      </aside>
    </div>
  </div>
</div>
